@use 'var';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background-color: var.$bgcolor-dark;
  color: var.$color-light;
  font-family: var.$font-verdana;
}
