// variables => colors
$color-dark: #000;
$bgcolor-dark: #232323;
$color-light: #dee;
// variables => fonts
$font-arial: Arial, Helvetica, sans-serif;
$font-verdana: Verdana, Geneva, Tahoma, sans-serif;
