@use '../../sass/var';

.burger {
	position: absolute;
	top: 0;
	right: 5px;
	width: 30px;
	height: 40px;
	background: none;
	border: none;
	z-index: 1;
	font-size: 2.3rem;
	color: var.$color-light;
	font-weight: normal;
	cursor: pointer;

	.fa-times {
		color: var.$bgcolor-dark;
	}
}
