@use '../../sass/var';

.links {
	position: absolute;
	top: 35px;
	right: 0;
	width: 100px;
	height: 20vh;
	flex-direction: column;
	justify-content: space-evenly;
	border-radius: 10px;
	align-items: center;
	background-color: rgba(239, 239, 213, 0.3);
	list-style: none;
	font-size: 1.8rem;
	z-index: 1;

	&__item {
		text-decoration: none;
		color: var.$color-dark;
		font-size: 1.4rem;
	}
}

.hidden {
	display: none;
}

.show {
	display: flex;
}

@media (min-width: 576px) {
}
