@use '../../sass/var';

.links {
	position: absolute;
	top: 0;
	left: -200px;
	width: 200px;
	height: 20vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	border-radius: 50px;
	align-items: center;
	background-color: rgb(239, 239, 213);
	list-style: none;
	font-size: 1.8rem;
	z-index: 1;

	&__item {
		text-decoration: none;
	}
}

.hidden {
	animation: hidden 0.3s linear forwards;
}

.show {
	animation: show 0.3s linear forwards;
	a {
		color: var.$bgcolor-dark;
	}
}

@keyframes hidden {
	from {
		transform: translateX(210px);
	}

	to {
		transform: translateX(0);
	}
}

@keyframes show {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(210px);
	}
}

@media (min-width: 576px) {
}
