@use '../../sass/var';
@use '../../sass/mixins';

.splash {
	position: relative;

	&__heading {
		position: absolute;
		transform: translateX(-50%);
		top: 5%;
		left: 50%;
	}

	&__image {
		width: 100%;
	}

	&__description {
		padding: 35px;
		font-size: 1.4rem;
		text-align: justify;
	}
}

// .hero {
// 	position: relative;
// 	text-align: center;

// 	&__header {
// 		position: absolute;
// 		top: 50%;
// 		left: 50%;
// 		transform: translate(-50%, -50%);
// 		color: var.$color-dark;
// 	}

// 	&__image {
// 		width: 100%;
// 	}

// 	&__heading {
// 		@include mixins.flex-column();
// 		font-size: 3rem;
// 		font-weight: normal;
// 		text-shadow: 1px 1px 1px white;

// 		span {
// 			text-transform: uppercase;
// 		}
// 	}

// 	&__description {
// 		margin-top: 40px;
// 		font-size: 1.8rem;
// 		@include mixins.flex-column();
// 		text-shadow: 1px 1px 1px white;
// 	}
// }
