.header {
	width: 100vw;
	&__heading {
		padding: 10px;
		text-align: center;
		text-transform: uppercase;
		font-weight: normal;
		letter-spacing: 2px;
		font-size: 2rem;
	}
}

@media (min-width: 400px) {
	.header {
		&__heading {
			font-size: 2.5rem;
		}
	}
}
