.aboutMe {
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 40px;
	align-items: center;

	&__heading {
		margin-top: 50px;
		font-size: 2rem;
		font-weight: normal;
	}

	&__link {
		color: white;
	}

	&__description {
		margin: 20px;
		padding: 20px;
		border-radius: 20px;
		border: 1px solid white;
		background: repeating-radial-gradient(#d4ccc3, #a9cedd 50px);
		color: #242424;
		font-size: 1.8rem;
	}
}

@media (min-width: 400px){
	.aboutMe {
	
		&__heading {
			margin-top: 0;
			font-size: 2.5rem;
			font-weight: normal;
		}
	
		&__description {
			margin: 20px;
			padding: 20px;
			border-radius: 20px;
			border: 1px solid white;
			background: repeating-radial-gradient(#d4ccc3, #a9cedd 50px);
			color: #242424;
			font-size: 1.8rem;
		}
	}
}
